# Ignorar arquivos de banco de dados do SQL Server
*.mdf
*.ldf

# Ignorar arquivos de usuario do Visual Studio
*.user
*.suo

# Ignorar pastas de build
bin/
obj/

# Ignorar pasta do Visual Studio
.vs/

# Ignorar arquivos temporários
*.tmp
*.bak
*.log
*.cache
*.pdb

# Ignorar arquivos de backup do Windows
Thumbs.db
desktop.ini
